@use '../base/variables';

.type_acomodation {
  padding-left: 220px;
  padding-right: 220px;
}

.type_acomodation h2 {
  padding-top: 25px;
}

.type_acomodation p {
  text-align: left;
  margin-left: 0;
  color: #595959;
  padding-left: 0;
}
